In [ ]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.colors as colors
from mpl_toolkits.axes_grid1 import make_axes_locatable

In [3]:
from pandas import set_option
set_option("display.max_rows", 10)
pd.options.mode.chained_assignment = None
data=pd.read_csv("facies_vectors.csv")

In [4]:
data

      Facies Formation        Well Name   Depth  ...   PHIND     PE  NM_M  RELPOS
0          3     A1 SH        SHRIMPLIN  2793.0  ...  11.915  4.600     1   1.000
1          3     A1 SH        SHRIMPLIN  2793.5  ...  12.565  4.100     1   0.979
2          3     A1 SH        SHRIMPLIN  2794.0  ...  13.050  3.600     1   0.957
3          3     A1 SH        SHRIMPLIN  2794.5  ...  13.115  3.500     1   0.936
4          3     A1 SH        SHRIMPLIN  2795.0  ...  13.300  3.400     1   0.915
...      ...       ...              ...     ...  ...     ...    ...   ...     ...
4144       5      C LM  CHURCHMAN BIBLE  3120.5  ...   7.254  3.617     2   0.685
4145       5      C LM  CHURCHMAN BIBLE  3121.0  ...   8.013  3.344     2   0.677
4146       5      C LM  CHURCHMAN BIBLE  3121.5  ...   8.013  3.190     2   0.669
4147       5      C LM  CHURCHMAN BIBLE  3122.0  ...   7.708  3.152     2   0.661
4148       5      C LM  CHURCHMAN BIBLE  3122.5  ...   6.668  3.295     2   0.653

[4149 rows x 11 columns]

In [16]:
data.describe()

AttributeError: ignored

In [8]:
data['Well Name'] = data['Well Name'].astype('category')
data['Formation'] = data['Formation'].astype('category')
data['Well Name'].unique()

['SHRIMPLIN', 'ALEXANDER D', 'SHANKLE', 'LUKE G U', 'KIMZEY A', 'CROSS H CATTLE', 'NOLAN', 'Recruit F9', 'NEWBY', 'CHURCHMAN BIBLE']
Categories (10, object): ['SHRIMPLIN', 'ALEXANDER D', 'SHANKLE', 'LUKE G U', ..., 'NOLAN',
                          'Recruit F9', 'NEWBY', 'CHURCHMAN BIBLE']

In [10]:
PE_mask = data['PE'].notnull().values
data = data[PE_mask]

In [12]:
#K-fold
from sklearn import preprocessing
from sklearn import svm
from sklearn import metrics
#Create a set of unique well names

names = list(set(data["Well Name"]))

#Create a dicitionary of the well datasets, continued from original contest notebook 
#But perform dropping for each well individually

well_datas = {}
for name in names:
    well = data[data["Well Name"]==name] 
    well_labels = well['Facies'].values.astype(np.int64)
    well = well.drop(['Formation', 'Well Name', 'Depth','Facies'], axis=1).values
    well_datas[name] = [well, well_labels]
    
    
X_data = {}
y_data = {}
for name, (data, labels) in well_datas.items():
    y_data[name] = np.array(labels, dtype=np.int64)
    X_data[name] = np.array(data, dtype=np.float32)

training_sets = []
test_sets = []

In [13]:
for i in range(len(names)):
    X_train = []
    y_train = []

    X_test = []
    y_test = []

    for name, data in X_data.items():
        if name is not names[i]:
            for row in data:
                X_train.append(row)
        else:
            for row in data:
                X_test.append(row)

    for name, labels in y_data.items():
        if name is not names[i]:
            for val in labels:
                y_train.append(val)
        else:
            for val in labels:
                y_test.append(val)

    X_train = np.array(X_train, dtype=np.float32)
    y_train = np.array(y_train, dtype=np.int64).reshape(len(y_train), 1)
    y_train = y_train.ravel()
    
    scaler = preprocessing.StandardScaler().fit(X_train)
    X_train = scaler.transform(X_train)


    X_test = np.array(X_test, dtype=np.float32)
    X_test = scaler.transform(X_test)

    y_test = np.array(y_test, dtype=np.int32)
    training_sets.append([X_train, y_train, X_test, y_test])
    
#Use as follows:
scores = []
for i, (X_train, y_train, X_test, y_test) in enumerate(training_sets):
    clf = svm.LinearSVC(class_weight='balanced', tol=1e-03, random_state=42, C=10)
    clf.fit(X_train, y_train)
    y_pred = clf.predict(X_test)
    #Scoring
    score = metrics.f1_score(y_test, y_pred, average='weighted')
    scores.append(score)
    print('********')
    print('Blind well is {0}, F1 score : {1:.4%}\n'.format(names[i],score))
#     print(X_train.shape, y_train.shape, X_test.shape, y_test.shape)
    pass
print("="*30)
print('*********** RESULT ***********')
print("="*30)
print('\nAverage  F1-score is {:.4%}'.format(np.mean(scores)))

/usr/local/lib/python3.7/dist-packages/sklearn/svm/_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

********
Blind well is SHANKLE, F1 score : 56.0598%

/usr/local/lib/python3.7/dist-packages/sklearn/svm/_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

********
Blind well is NOLAN, F1 score : 48.0063%

/usr/local/lib/python3.7/dist-packages/sklearn/svm/_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

********
Blind well is LUKE G U, F1 score : 55.3857%

/usr/local/lib/python3.7/dist-packages/sklearn/svm/_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

********
Blind well is CROSS H CATTLE, F1 score : 47.4201%

/usr/local/lib/python3.7/dist-packages/sklearn/svm/_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

********
Blind well is Recruit F9, F1 score : 82.7586%

/usr/local/lib/python3.7/dist-packages/sklearn/svm/_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

********
Blind well is NEWBY, F1 score : 44.5155%

/usr/local/lib/python3.7/dist-packages/sklearn/svm/_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

********
Blind well is SHRIMPLIN, F1 score : 39.7648%

********
Blind well is CHURCHMAN BIBLE, F1 score : 53.4147%

==============================
*********** RESULT ***********
==============================

Average  F1-score is 53.4157%

/usr/local/lib/python3.7/dist-packages/sklearn/svm/_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

K fold cross validation shows that the F1-score for each well is highly variable.